<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<h3><%= t('.score') %>: </h3>
<% if @test_passage.passed? %>
  <div class="passed"><%= @test_passage.result %></div><br>
<% else %>
  <div class="failed"><%= @test_passage.result %></div><br>
<% end %>

<%= link_to t('helpers.result'), tests_path %>

 