
<nav class="navbar navbar-light bg-light">
  <h1><%= link_to t('helpers.testguru'), root_path, class: 'navbar-brand' %></h1>

  <span class="navbar-text">
    <% if user_signed_in? %><%= t('shared.header.welcome') %>,
      <b><%= current_user.name %></b> <%= t('shared.header.guru') %> | <%= link_to t('helpers.logout'), destroy_user_session_path, method: :delete %>
      <% else %>
      <%= link_to t('helpers.login'), new_session_path(resource_name) %> |
      <%= link_to t('helpers.signup'), new_registration_path(resource_name) %>
    <% end %>
  </span>
</nav>



 