
<div class="nav user">
  <h1><%= link_to t('helpers.testguru'), root_path %></h1>
  <% if user_signed_in? %><%= t('shared.header.welcome') %>,
     <b><%= current_user.name %></b> <%= t('shared.header.guru') %> | <%= link_to t('helpers.logout'), destroy_user_session_path, method: :delete %>
  
  <% end %>
</div>



 