<p>
  <strong>Title:</strong>
  <strong><%= t('.title') %>:</strong>
  <%= @test.title %>
</p>
<p>
  <strong>Level:</strong>
  <strong><%= t('.level') %>:</strong>
  <%= @test.level %>
</p>
<div>
  <strong>Questions:</strong>
  <strong><%= t('.questions') %>:</strong>
  <%= link_to 'New question', new_admin_test_question_path(@test) %>
  <%= link_to t('helpers.submit.test.new_question'), new_admin_test_question_path(@test) %>
  <ol>
    <%= render partial: 'questions/question', collection: @test.questions %>
  </ol>
</div><br>

<%= link_to t('helpers.submit.test.edit'), edit_admin_test_path(@test) %> |
<%= link_to t('.back'), admin_tests_path %> 





 